body{
	margin: 0;
	padding: 0;

}

header{
	display: block;

	.gabarit-recherche{
		float: right;
		width: 250px;

		form{
			display: block;
			margin-top: 0em;

			div{
				display: block;

				.txt{
					width: 150px;
					padding: 1px 0px;
					background-color: white;
					-webkit-appearance: textfield;

				}
				.search{
					font-size: 8pt;
					color: #577F99;
					background: #ACBFCB;
					border: 1px solid #5a7f99;
					position: relative;
					top: -2px;
					width: 80px;
				}
			}
		}
	}

	.gaarit-suprieur{
		width: 700px;
		height: 22px;
		margin: 0 auto;
		padding: 0 0 4px 10px;
		font-weight: bold;
		background-color: #c4d3db;
		border: 0 0 15px 15px;
		background: linear-gradient (to bottom, #c4d3db 0%, #99b2c2 100%);

		nav{

			ul{
				padding: 0;
				list-style-type: none;
				li{
					display: inline-block;
					margin-right: 5px;

					a{
						font-size: 15px;
						text-decoration: none;

					}
				}
			}
		}
	}
}
.contenair{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

#menu {
	margin-top: 40px;
	margin-left: 200px;
	ul{
		padding:0;
		margin:0;
		list-style:none;
		position:relative;	

		li{
			float:left;
			margin:0;
			padding:0;
			position:relative;

			a{
				display:block;
				font:normal bold 14px tahoma;
				background:#3f4040;
				min-width:100px;
				text-align:center;
				padding:10px 15px 10px 15px;
				text-decoration:none;
				color:#FFF;
				border-top:4px solid #FFF;
				border-bottom:4px solid #00B4FF;
				transition:background 500ms,color 500ms,border-color 500ms;
			}

			a:hover{
				background:#666;
				border-top-color:#00B4FF;
				color:#00B4FF;
			}

			ul{
				position:absolute;
				top:45px;
				left:0;
				display:none;

				li{

					a{
						background:#666;
						display:block;
						font:normal normal 12px tahoma;
						padding:5px 10px 5px 10px;
						text-decoration:none;
						color:#FFF;
						border-bottom:1px solid #FFF;
						min-width:130px;
					}

					a:hover{
						background:#777;
					}
				}
			}
		}
	}
}
}