/* line 1, ../sass/dev.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/dev.scss */
header {
  display: block;
}
/* line 10, ../sass/dev.scss */
header .gabarit-recherche {
  float: right;
  width: 250px;
}
/* line 14, ../sass/dev.scss */
header .gabarit-recherche form {
  display: block;
  margin-top: 0em;
}
/* line 18, ../sass/dev.scss */
header .gabarit-recherche form div {
  display: block;
}
/* line 21, ../sass/dev.scss */
header .gabarit-recherche form div .txt {
  width: 150px;
  padding: 1px 0px;
  background-color: white;
  -webkit-appearance: textfield;
}
/* line 28, ../sass/dev.scss */
header .gabarit-recherche form div .search {
  font-size: 8pt;
  color: #577F99;
  background: #ACBFCB;
  border: 1px solid #5a7f99;
  position: relative;
  top: -2px;
  width: 80px;
}
/* line 41, ../sass/dev.scss */
header .gaarit-suprieur {
  width: 700px;
  height: 22px;
  margin: 0 auto;
  padding: 0 0 4px 10px;
  font-weight: bold;
  background-color: #c4d3db;
  border: 0 0 15px 15px;
  background: linear-gradient to bottom, #c4d3db 0%, #99b2c2 100%;
}
/* line 53, ../sass/dev.scss */
header .gaarit-suprieur nav ul {
  padding: 0;
  list-style-type: none;
}
/* line 56, ../sass/dev.scss */
header .gaarit-suprieur nav ul li {
  display: inline-block;
  margin-right: 5px;
}
/* line 60, ../sass/dev.scss */
header .gaarit-suprieur nav ul li a {
  font-size: 15px;
  text-decoration: none;
}

/* line 70, ../sass/dev.scss */
.contenair {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 77, ../sass/dev.scss */
.contenair #menu {
  margin-top: 40px;
  margin-left: 200px;
}
/* line 80, ../sass/dev.scss */
.contenair #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 86, ../sass/dev.scss */
.contenair #menu ul li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 92, ../sass/dev.scss */
.contenair #menu ul li a {
  display: block;
  font: normal bold 14px tahoma;
  background: #3f4040;
  min-width: 100px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  color: #FFF;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #00B4FF;
  transition: background 500ms,color 500ms,border-color 500ms;
}
/* line 106, ../sass/dev.scss */
.contenair #menu ul li a:hover {
  background: #666;
  border-top-color: #00B4FF;
  color: #00B4FF;
}
/* line 112, ../sass/dev.scss */
.contenair #menu ul li ul {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
}
/* line 120, ../sass/dev.scss */
.contenair #menu ul li ul li a {
  background: #666;
  display: block;
  font: normal normal 12px tahoma;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  min-width: 130px;
}
/* line 131, ../sass/dev.scss */
.contenair #menu ul li ul li a:hover {
  background: #777;
}
